.jumbotrons{
    width: 100%;
    
    padding: 3rem;
}

@media (max-width:500px) {
    .jumbotron{
        width: 95%;
        height: auto;
    }
}


@media (max-width:500px) {
    .Card{
        margin-top: 2rem;
        
    }
} 

.headings{

    background-color: #17D7B7;
    text-align: center;
    color: white;
    width: 18rem;
 border-radius: 1rem 1rem 0rem 0rem;
 
   
   
          
 }
 
 