.jumbotrons{
    width: 100%;
    
    padding: 3rem;
}

@media (max-width:500px) {
    .jumbotron{
        width: 95%;
        height: auto;
    }
}

.Card{
    width: 18rem;
     border-radius: 1rem;
}


@media (max-width:500px) {
    .Card{
        width: 16rem;
        margin-top: 2rem;
        
       
    }
} 

.headings{

    background-color: #17D7B7;
    text-align: center;
    color: white;
    width: 18rem;
 border-radius: 1rem 1rem 0rem 0rem;
         
 }
 
 @media (max-width:500px) {
     .headings{
        width: 16rem;
     }
 }